*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.contact-us{
    background: url(black.jpg) no-repeat center;
    background-size: cover;
    padding: 40px 0;
}
.contact-us h1{
    text-align: center;
    color: #ddd;
}
.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}
.contact-form{
    max-width: 600px;
    margin: 50px;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 600px;
    box-sizing: content-box;
    margin: 20px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
,.contact-form-btn{
    float: left;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #2988b9;
}